<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.slavins.keepintouch.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to help you keep in touch with the people who matter.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We'll send you gentle reminders when it's time to reconnect with someone.</string>
</dict>
</plist>
